<div class="panel-body passenger-booking">
	<%= form_for @booking, :html => {:id => "booking_form"} do |f| %>
		<%= f.hidden_field(:flight_id)%>
		<%= f.hidden_field(:user_id) %>
		<%= f.fields_for :passengers do |passenger| %>
			<%= render 'passenger_fields', :f => passenger %>
		<% end %>
		<br>
		<div class="links">
			<%= link_to_add_association content_tag(:span, 'Add Passenger', class: "add_passenger"), f, :passengers, :class => 'btn btn-primary add' %> 
		</div>
		</div>
		<div class="panel-footer">
			<%= link_to "Book Now", "#", :onclick => "$('#booking_form').submit()", class: "btn btn-primary book"  %>
			<a class = "btn btn-link pull-right"><%= notice %></a>
		</div>
	<% end %>