<div class="pages">
	<div class ="container">
		<div class ="row">
			<div class="col-md-6">
				<div class="panel panel-default">
				<div class ="panel-body	">
				<h4 class="">Booking Reference: <strong><%= @booking.code%></strong></h4>
				<br>
				<p>Booking for <%=@flight.airline %> - #000<%= @flight.id %>
				<br>
				<p><strong><h4> Airline:</strong> <%= @flight.airline %></h4></p>
				<p><strong><h4> Flying From:</strong> <%= @origin.first.name %></h4></p>
				<p><strong><h4> Flying to:</strong> <%= @destination.first.name %></h4></p>
				<p><strong><h4> Number of Seats Reserved:</strong> <%= @passengers.count %></h4></p>
				<p><strong><h4> Take Off Date and Time:</strong> <%= @flight.departure_date.strftime('%d-%m-%Y')%> - <%= @flight.departure_date.strftime("%-l:%M%P") %></h4></p>
				<p><strong><h4> Landing Date and Time:</strong> <%= @flight.arrival_date.strftime('%d-%m-%Y')%> - <%= @flight.arrival_date.strftime("%-l:%M%P") %></h4></p>
				<p><strong><h4> Flight Fare:</strong> $<%= @passengers.count.to_i * @flight.price.to_i %> </h4></p>
				<br>
				<% if @flight.departure_date >= DateTime.now %>
				<%= link_to 'Cancel Booking', @booking, method: :delete, data: { confirm: 'Are you sure?'},class: "btn btn-danger"  %>
				<% else %>
				<p class= "alert-warning"> Your flight has taken off <p>
					<% end %>

				</div>
			</div>
		</div>
			<div class="col-md-6">
					<h4 class =""> Passengers Details </h4>

							<%= render "book_form"%>
			</div>
		</div>
	</div>
</div>