<div class = "pages">
	<div class = "container">
		
		<div class = "row">

			<div class = "col-md-5">
				<div class="panel panel-primary ">
				  <div class="panel-heading">
				    <h3 class="panel-title">Flight Details</h3>
				  </div>
				  <div class="panel-body">
				  	<p>Airline: <%=  params["airline"] %></p>
				  	<p>Origin: <%=  params["origin"] %></p>
				  	<p>Destination: <%=  params["destination"] %></p>
				  	<p>Take Off Time: <%=  params["departure_time"] %></p>
				  	<p>Take Off Date: <%=  params["departure_date"] %></p>
				  	<p>Landing Time: <%=  params["arrival_time"] %></p>
				  	<p>Landing Date: <%=  params["arrival_date"] %>
				  	<h2 class="pull-right	"><%=  params["price"] %></h2>
				  	</p>
					   </ul>
				  </div>
				</div>
			</div>

			<div class = "col-md-7">
				<div class="panel panel-primary ">
				  <div class="panel-heading">
				    <h3 class="panel-title">Book Flight</h3>
				  </div>
				  <div class="panel-body">
							<%= form_for(@booking, url: bookings_path, ) do |b| %>
    						<%= b.fields_for :passengers do |p| %>
									 <div class= "form-inline">
									  <div class="form-group">
									    <%= p.text_field :name, class: "form-control", placeholder: "Passenger Name" %>
									     <%= hidden_field_tag(:flight_id, params["flight_id"])%>
									     <%= hidden_field_tag(:user_id, current_user.id) if current_user %>
									     <%= hidden_field_tag(:no_of_passengers, params["no_of_passengers"])%>
									  </div>
									  <div class="form-group">
									  	 <label>-</label>
							        <%= p.text_field :email, class: "form-control", placeholder: "Passenger Email"  %>
									  </div>
									  <button type="button" class="btn btn-danger pull-right">Delete</button>
									  <hr>
									  </div>
								<% end %>
											<br>	
						    <%= link_to 'Add Another passenger', '', :class => 'duplicate_nested_form btn btn-primary form-control' %>  
								
								</div>
				  			<div class="panel-footer"><%= submit_tag "Book Now", class: "btn btn-primary" %>

				  			</div>
				  		<% end %>
			</div>
			</div>
			<div class="row">
			<div class = "col-md-12">
				<div class="panel panel-default ">
				  <div class="panel-heading">
				    <h3 class="panel-title">Disclaimer</h3>
				  </div>
				  <div class="panel-body">
				    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<br>

				    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				  </div>
				</div>
			</div>

		</div>

	</div>
</div>