  <div class="panel panel-primary flight_search">
    <div class="panel-heading">
      <h3 class="panel-title">Flight Search Results</h3>
    </div>
    <div class="panel-body">
        <% if @search %>
          <% if !@search.empty? %>
         <% for flights in @search %>
        <li class="list-group-item">
          <div class="flight_table">
            <div class="row">
              <div class="col-md-2 text-center vertical-align search_airline">
                <div class="">
                  <div class="radio-danger">
                    <%= radio_button_tag(:flight_id, flights.id) %>
                  </div>
                  <%= label_tag "flights_id_#{flights.id}", flights.airline %>
                </div>
              </div>
              <div class="">
                <div class="col-md-3">
                  <div class="">
                    <i class="fa fa-plane"></i>
                    <h5><%= flights.departure_date.strftime("%-l:%M%P") %></h5>
                    <p class=""><%=flights.departure_date.strftime("%d - %m - %Y")%></p>
                    <%= flights.origin.name %></p>
                  </div>
                </div>
                <div class="col-md-3">
                  <i class="fa fa-plane fa-flip-vertical"></i>
                  <h5><%= flights.arrival_date.strftime("%-l:%M%P") %></h5>
                  <p class=""><%= flights.arrival_date.strftime("%d - %m - %Y")%></p>
                  <%= flights.destination.name %></p>
                </div>
              </div>
              <div class="col-md-3 search_price">
                <span class=""><%= number_to_currency flights.price, delimiter: '.' %></span>
                <span>/person</span>
                <p><%= link_to 'Select', new_booking_path(flights), class: "btn btn-primary", id: "btn_#{flights.id}" %></p>
              </div>
            </div>
          </div>
        </li>
      <% end %>
      <% else %>
          <h4>No Flights Found</h4>
          <% end %>
      <% end %>

      <br>
    </div>
  </div>

