<div class="pages">
   <div class="panel-body">
    <% if @search %>
     <% if !@search.empty? %>
        <% for flights in @search %>
          <%= form_tag("/bookings/new", method: :get) do%> 
            <li class="list-group-item flight-list">
              <div class="flight_table">
                <div class="row">
                  <div class="col-md-2 text-center vertical-align search_airline">
                    <div class="">
                      <div class="radio-danger">
                        <%= hidden_field_tag(:no_of_passengers, params[:flight][:passengers] ) %>
                        <%= radio_button_tag(:flight_id, flights.id) %>
                        <%= hidden_field_tag(:flight_id, flights.id) %>
                      </div>

                      <%= label_tag "flights_id_#{flights.id}", flights.airline %>
                      <%= hidden_field_tag(:airline, flights.airline) %>
                    </div>
                  </div>

                  <div class="">
                    <div class="col-md-3">
                      <div class="">
                        <i class="fa fa-plane"></i>

                        <h5><%= label_tag "#{flights.departure_date.strftime('%-l:%M%P')}" %></h5><%= hidden_field_tag(:departure_time, flights.departure_date.strftime("%-l:%M%P")) %>

                        <p class=""><%= flights.departure_date.strftime("%d - %m - %Y")%></p>
                        <%= hidden_field_tag(:departure_date, flights.departure_date.strftime("%d - %m - %Y")) %>

                        <%= flights.origin.name %>
                        <%= hidden_field_tag(:origin, flights.origin.name) %></p>

                      </div>
                    </div>

                    <div class="col-md-3">
                      <i class="fa fa-plane fa-flip-vertical"></i>
                      <h5><%= flights.arrival_date.strftime("%-l:%M%P") %></h5>
                      <%= hidden_field_tag(:arrival_time, flights.arrival_date.strftime("%-l:%M%P")) %>
                      <p class=""><%= flights.arrival_date.strftime("%d - %m - %Y")%></p>
                      <%= hidden_field_tag(:arrival_date, flights.arrival_date.strftime("%d - %m - %Y")) %>

                      <%= flights.destination.name %>
                     <%= hidden_field_tag(:destination, flights.destination.name) %></p>
                    </div>
                  </div>

                  <div class="col-md-3 search_price">
                    <span class=""><%= (number_to_currency flights.price, delimiter: '.').to_i  %></span>
                     <%= hidden_field_tag(:price, flights.price, delimiter: '.') %>
                    <span>/person</span>
                    <p><%= submit_tag 'Select', class: "btn btn-primary" %></p>
                  </div> 

                </div>
              </div>
            </li>
             <hr>
          <% end %>
        <% end %>
      <% else %>
        <h4>No Flights Found</h4>
      <% end %>
      <br> <%= link_to 'All Flights', flights_path, class: "btn btn-primary pull-right"%>
      <%= link_to 'close', root_path, class: "btn btn-danger pull-left"%>
    <% end %>
  </div>
</div>
